

/* Colori temporanei per controllo UI */

.bg-white {
  background: white
}

.bg-red {
  background: red
}

/* Elementi UI */

/* BUTTON */
.btn {
  padding: 20px 20px;
  border-radius: 6px;
  text-decoration: none;
  cursor: pointer;
}

.btn-regular-bordered {
  border: 2px solid rgb(225, 126, 94);
  padding: 18px 18px;
}

.btn-medium {
  padding: 20px;
}

.btn-large {
  padding: 30px;
}

.btn-wide {
  padding: 20px 25px;
}

.btn-wider {
  padding: 20px 70px;
}

.btn-whiteOnOrange {
  background: rgb(225, 126, 94);
  color: white;
}

.btn-orangeOnWhite {
  background: white;
  color:rgb(225, 126, 94)
}

.btn-text-orange {
  color:rgb(225, 126, 94);
}
