* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  /* background: grey */
}

/* Regole comuni */

/* Colori per controllo UI */
.bg-white {
  background: white
}

.bg-red {
  background: red
}

/* Elementi UI */
.btn {
  display: inline;
  height: 40px;
  line-height: 40px;
  padding: 10px 25px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  border: 1px solid orange;
  border-radius: 6px;
}

.btn-whiteOnOrange {
  background: orange;
  color: white;
}

.btn-orangeOnTransparent {
  background: white;
  color:orange
}

.btn-text-orange {
  color:orange;
}
/* Container principale */
#main-container  {
  width: 100%;
  height: 3000px;
}

/* Le sezioni si espandono per il 100% del
main-container a colori alterni*/
.section {
  width:100%;
}
.section:nth-of-type(even) {
  background: blue;
}

.section:nth-of-type(odd) {
  background: violet;
}
/*SottoContainer di ogni section,
ne replica l'altezza e ne occupa il
60% della larghezza centrato  a colori alterni*/
.content-area {
  width: 60%;
  height: 100%;
  margin: 0 auto;
}

/* ogni content-area ha una classe */

/* signInAndContacts-Rules */
.signInAndContacts {
  position:relative;
  height: 100px;
  background: lightgrey;
}

.languageAndContacts , .searchAndButtons{
  text-align: center;
  height: 100%;
  width:50%
}

.signInAndContacts a {
  margin-top: 30px;
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 40px;
  width: auto;
  text-decoration: none;
}

.languageAndContacts a:first-of-type {
  border-right: 1px solid black
}

.searchAndButtons {
  position: absolute;
  top: 0;
  right:0;
  /* background: yellow; */
}

.searchAndButtons .btn {
  line-height: 100px;
}

/* logoAndNavbar-Rules */
.logoAndNavbar {
  height: 100px;
  background: white
}

/* learnMore-Rules */
.learnMore {
  height: 100px;
  background: black
}

/* headline-Rules */
.headline {
  height: 400px;
  background: lightBlue
}
