* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  /* background: grey */
}

i {
  color:black;
  padding-left: 10px;
}

a {
  color: black;
  cursor: pointer;
  text-decoration: none
}

/* Container principale */
#main-container  {
  width: 100%;

}

/* Le sezioni si espandono per il 100% del
main-container a colori alterni*/
.section {
  width:100%;
}
/* .section:nth-of-type(even) {
  background: blue;
}

.section:nth-of-type(odd) {
  background: violet;
} */
/*SottoContainer di ogni section,
ne replica l'altezza e ne occupa il
60% della larghezza centrato  a colori alterni*/
.content-area {
  width: 80%;
  margin: 0 auto;
}

/* ogni content-area ha una classe */

/* signInAndContacts-area-Rules */

.signInAndContacts-section {
  background-color: rgb(245,248,250);
  border-bottom: 3px solid rgb(207,213,226);
  position: fixed;
  top:0;
  left:0
}
.signInAndContacts-area {
  height: 100px;
}

.languageAndContacts , .searchAndButtons{
  height: 100%;
  width:50%
}

.languageAndContacts {
  float:left;
  text-align: left;
  font-size: 20px;
}

.searchAndButtons {
  float:right;
  text-align: right;
  /* background: yellow; */
}

.languageAndContacts a {
  margin-top: 35px;
  padding: 0px 25px;
  display: inline-block;
  line-height: 30px;
}

.languageAndContacts a:first-of-type {
  border-right: 2px solid rgb(207,213,226)
}

.searchAndButtons * {
  margin-left: 15px;
}

.searchAndButtons i {
  color: rgb(123, 187, 206);
}

.searchAndButtons .btn {
  line-height: 100px;
}

/* logoAndNavbar-Rules */

.logoAndNavbar-section {
  margin-top: 100px;
}

.logoAndNavbar-area {
  height: 100px;
  background: white
}

.logo-area {
  float: left;
  width:auto;
  height: 100%;
  /* background: red; */
}

.logo-area img {
height: 40px;
margin-top: 30px;
padding: 0 30px;
}

.navOptions-area{
  float: right;
  line-height: 100px;
  height: 100%;
  width: auto;
  text-align: left;
  /* background: brown */
}

.navOptions-area a {
  padding: 0 30px;
  color: black
}

.navOptions-area i {
  color: black;
}

/* learnMore-Rules */
.learnMore-section {
  height: 100px;
  background-color: rgb(48, 62, 78);
}

.learnMore-area {
  padding: 20px 0px;
  text-align: left
}

.learnMore-area p {
  line-height: 30px;
  font-size: 18px;
  float:left;
  width: 70%;
  color: white;
  /* background: red; */
}

.learnMore-area a {
  float:right;
  /* margin-top: 15px; */
}

/* headline-Rules */
.headline-section {
  background-color: rgb(120, 191, 209);
  border-bottom: 5px solid rgb(58, 70, 90);
}
.headline-area {
  padding: 0px 10px 40px 10px;
  /* background:orange; */
}

.headline-area:after {
  content: '';
  display: table;
  clear:both;
}

.headline-left {
  float:left;
  width: 50%;
  /* background: red; */
}

.headline-left *:not(.btn) {
  /* padding: 40px 0px ; */
  margin: 80px 0;
  color: white;
}

.headline-left h1 {
  font-size: 64px;
}

.headline-left p:first-of-type {
  font-size: 23px;
}

.headline-left .btn {
  color: black;
  font-size: 25px;
}

.headline-left p:last-child {
  width: 45%;
  font-size: 13px;
  padding-left: 10px;
}
/* Features section */

/* c'è sicuramente un modo di raggruppare
tutte le feature in una classe e poi
fare le modifiche per ognuna. Per ora mi
concentro sul raggiungere il layout completo */

.features-section {
  background-color: rgb(245,248,250);
  padding-bottom: 200px;
  /* border-bottom: 3px solid black; */
}

.features-area {
  /* background: gray; */
  height: 100%;
}

.features-head, .main-feature {
  padding: 30px 0;
  /* bordo temporaneo per fine content */
  /* border-bottom: 4px solid black; */
}

.features-head h2 {
  font-size: 50px;
}

.features-head p {
  font-size: 21px;
}
.features-head > img {
  height: 280px;
  display: block;
  margin: 0 auto;
}

.features-head *:not(img) {
  text-align: center;
  padding: 15px 150px;
}

.main-feature {
  background: white;
  padding-left: 80px;
}

.main-feature:after {
  content: '';
  display: table;
  clear: both
}

.main-feature .left-content{
  float:left;
  padding: 20px 30px;
  /* background: white; */
  text-align: center
}

 .main-feature .left-content img {
  height:200px;
  /* background:brown; */
  margin-bottom: 30px;
  display:block
}

 .main-feature .right-content {
   float:right;
   width: 500px;
   /* background: white; */
 }

.main-feature .right-content *:not(ul) {
  padding: 22px 0;
}

.main-feature .right-content ul {
  /* background: green; */
}

.main-feature .right-content li {
  margin-right: 40px;
  display: inline;
  list-style: none;
}

.main-feature .right-content i {
  padding-right: 10px;
}

/* secondary features */

.secondary-features {
  padding: 40px 0px;
  /* background: yellow; */
  text-align: center
}

.secondary-features:after {
  content: '';
  display: table;
  clear:both;
}

/* spartizione temporanea dei div */
.secondary-feature {
  float:left;
  background: white;
  padding: 30px 30px 80px 30px;
  width: 30%;
}

.secondary-feature:first-of-type {
  margin-right: 5%
}

.secondary-feature:last-of-type {
  float:right;
}

.secondary-feature *:not(li) {

  margin-bottom: 20px
}

.secondary-feature img {
  height: 200px
   /* background:brown; */
}
.secondary-feature h4 {
  text-transform: uppercase;
}
.secondary-feature p {
  border-bottom: 2px solid rgb(202,208,220);
  padding-bottom: 20px;
  /* background:brown; */
}

.secondary-feature ul {
  text-align: left
  /* background: green; */
}

.secondary-feature li {
  list-style: none;
}

.secondary-feature i {
  padding-right: 10px;
}

.secondary-feature a {
  display: inline-block;
}

/* stats section */

.stats-section {
  padding: 50px 0px;
  background: rgb(81,180,172);
  color: white
}

.stats-area {
  text-align: center
}

.stats-header h2 {
  font-size: 55px;
  padding-bottom: 50px
}

.stats-header p {
  font-size: 40px;
  padding-bottom: 100px;
}

.stats-body {
  margin-bottom: 300px;
}

 .stats-row .stat:not(:first-child) {
  border-left: 1px solid white
}

.stats-row:nth-of-type(2){
  border-top: 1px solid white
}

.stats-row:after {
  content:'';
  display:table;
  clear: both;
}

.stat {
  float: left;
  width: 25%;
}

.stat img {
height: 35px;
}

.stat h2 {
  padding: 25px 0;
  font-size: 45px;
}

.stats-row:first-of-type p {
 padding-bottom: 20px;
}

.stats-row:nth-of-type(2) img{
  /* background: red; */
  margin-top: 20px;
}

/* growth section */

.customers-area
, .promote-growth-area {
  /* background: blue; */
  padding:100px 0;
  /* border-bottom: 1px solid red; */
}

.customers-area:after, .promote-growth-area:after {
  content:'';
  display: table;
  clear: both;
}

.customers-left {
  float:left;
  padding: 0px 100px;
  width: 35%;
}

.customers-left * {
  padding-bottom: 20px;
  /* background: yellow */
}

.customers-left h2 {
  font-size: 45px;
}

.customers-right {
  float:left;
  text-align: center;
  /* background-color: black; */
}

.customers-right .customers-row {
  padding: 0px 100px 65px 100px;
  text-align: center
}

.customers-right .customers-row .customer {
  float:left;
  width: 25%;
}

.customers-right .customers-row .customer img {
  padding: 0px 20px;
  height: 25px;
  /* background:yellow */
}

.promote-left {
  float: left;
  width: 45%;
}

.promote-left h2 {
  font-size: 35px
}

.promote-left p {
  font-size: 20px
}

.promote-left *:not(a) {
  padding: 22px 0;
}

.promote-left a {
  display: inline-block;
  font-weight: bolder;
  margin: 20px auto;
}

.promote-left p:last-child {
  font-size: 13px;
}

.promote-pic-right {
  float:right;
  padding: 0px 80px;
  margin: 0 auto;
  /* background: red; */
}

.promote-pic-right .pic-cnt {
  overflow: hidden;
  width: 450px;
  height: 450px;
  background: rgb(225, 96, 126);
  border: 3px solid rgb(225, 96, 126);
  margin: 0 auto;
  border-radius: 100%
}

.pic-cnt img {
  width:100%;
}

/* footer section */

.footer-section {
  padding: 50px 0;
  background: rgb(55, 71, 89);
  color: white;
  text-transform:  capitalize;
}

.footer-links-area:after {
content: '';
display: table;
clear: both;
}

.footer-links-area .links {
  float:left;
  width: 25%;
}

.links ul * {
  list-style: none;
  margin: 20px 0;
  color: white;

}

.links ul li i {
  display: inline;
}
